@font-face {
  font-family: charter;
  src: url('/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: 700;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;

  /* Font */
  --primaryFont: 'Roboto', system-ui;
  --secondaryFont: charter, system-ui;

  --light: 300;
  --regular: 400;
  --bold: 700;

  /* Spacing */
  --space-half: .4rem;
  --space: .8rem;
  --space-2: 1.6rem;
  --space-3: 2.4rem;
  --space-4: 3.2rem;
  --space-5: 4rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--gray30);
  font-family: var(--primaryFont);
}

a {
  color: var(--gray30);
}

header {
  font-size: 1.4rem;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

nav details summary {
  font-weight: var(--bold);
}

hr {
  margin: calc(var(--space) * 8) 0;
}

h1 {
  margin-block-start: calc(var(--space) * 8);
  margin-block-end: var(--space-2);
  font-size: 6rem;
}

h2 {
  margin: calc(var(--space) * 8) 0 var(--space-5);
  font-size: 3.2rem;
  font-weight: var(--regular);
}

h3 {
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-3);
  font-size: 2.4rem;
  font-weight: var(--regular);
}

p {
  font-size: 1.6rem;
}

pre {
  background-color: #FEC62E;
}

blockquote {
  margin: var(--space-4) 0;
}

.section-content {
  margin-block-start: calc(var(--space) * 8);
  counter-reset: titleList;
}

.section-content img {
  margin-block-start: var(--space-5);
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal);
}

.section-content h3::after {
  display: block;
  width: 3.2rem;
  height: .4rem;
  background-color: var(--gray30);
  content: '';
}

.section-content + hr {
  display: none;
}

.section-content ol li {
  line-height: 2.4rem;
}

.section-content ul li {
  margin-block-end: var(--space-2);
}

.hero {
  height: 35rem;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, .2),transparent), url('/images/pattern.png');
}

::selection {
  background-color: #FEC62E;
}