@font-face {
  font-family: charter;
  src: url('/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: 700;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;

  /* Font */
  --font: charter, system-ui;

  --light: 300;
  --regular: 400;
  --bold: 700;

  /* Spacing */
  --space-half: .5rem;
  --space: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--gray30);
  font-family: var(--font);
}

a {
  color: var(--gray30);
}

header {
  font-size: 1.4rem;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

nav details summary {
  font-weight: var(--bold);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}