@font-face {
  font-family: charter;
  src: url('/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: charter;
  src: url('/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: 700;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* Colors */
  --white: #fff;
  --actionColor: #157EFB;
  --gray30: #3A3539;
  --gray20: #A5A3A5;
  --gray10: #616161;
  --background: #251F24;

  /* Font */
  --primaryFont: 'Roboto', system-ui;
  --secondaryFont: charter, system-ui;

  --light: 300;
  --regular: 400;
  --bold: 700;

  /* Spacing */
  --space-half: .4rem;
  --space: .8rem;
  --space-2: 1.6rem;
  --space-3: 2.4rem;
  --space-4: 3.2rem;
  --space-5: 4rem;
}

.is-light-mode {
  --white: #fff;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: var(--white);
  font-family: var(--primaryFont);
  background-color: var(--background);
}

a {
  color: var(--actionColor);
}

::-webkit-scrollbar {
  display: none;  /* Ocultar scroll */
}

/* Utilities */
.wrapper {
  max-inline-size: 90.2rem;
  margin: 0 auto;
}


.hero {
  height: 35rem;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, .2),transparent), url('../images/pattern.png');
}

.header {
  position: sticky;
  inset-block-start: -4.2rem;
}

.header-content {
  position: relative;
}

header {
  width: 20.8rem;
  font-size: 1.4rem;
  color: var(--white);
  position: absolute;
  inset-block-start: 6.4rem;
  inset-inline-start: -23.2rem;
}

header a {
  color: var(--gray20);
  text-decoration: none;
}

header li {
  margin-block-end: var(--space-2);
  color: var(--gray20);
}

nav details summary {
  margin-block-end: var(--space-2);
  font-weight: var(--bold);
  line-height: 2.4rem;
}

nav ol {
  padding-inline-start: var(--space-2);
}

.main-content {
  padding-inline: var(--space-2);
  padding-block-end: 11rem;
}

hr {
  border-color: #61616133;
  margin-block: calc(var(--space) * 8);
}

h1 {
  margin-block-start: calc(var(--space) * 8);
  margin-block-end: var(--space-2);
  font-size: 6rem;
  font-weight: var(--regular);
}

h2 {
  margin-block-start: calc(var(--space) * 8);
  margin-block-end: var(--space-5);
  font-size: 3.2rem;
  font-weight: var(--regular);
}

h3 {
  position: sticky;
  inset-block-start: 0;
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-3);
  font-size: 2.4rem;
  font-weight: var(--regular);
  background-color: var(--background);
}

p {
  color: var(--gray20);
  font-size: 1.6rem;
}

pre {
  margin-block-start: var(--space-2);
  padding: var(--space-5);
  font-size: 1.6rem;
  font-family: var(--primaryFont);
  line-height: 2.4rem;
  background-color: var(--gray30);
  border-radius: .8rem;
  overflow: auto;
}

blockquote {
  margin-block: var(--space-4);
  padding-inline: var(--space-3);
  padding-block: var(--space-3);
  font-size: 2.4rem;
  line-height: 3.2rem;
  border-radius: .8rem;
  background-color: var(--gray30);
}

blockquote p {
  color: var(--white);
}

blockquote span {
  position: relative;
}

blockquote span::before {
  content: '-';
}

.section-content {
  margin-block-start: calc(var(--space) * 8);
  counter-reset: titleList;
}

.section-content img {
  display: block;
  margin-block-start: var(--space-5);
  max-inline-size: 100%;
}

.section-content h3 {
  margin-block-start: var(--space-2);
  padding-block-end: var(--space);
  counter-increment: titleList;
}

.section-content:nth-of-type(2) h3,
.section-content:nth-of-type(3) h3  {
  margin-block-start: var(--space-5);
}

.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  display: inline-block;
  width: 8rem;
  height: .4rem;
  background-color: var(--white);
  content: '';
}

.section-content + hr {
  display: none;
}

.section-content ol,
.section-content ul {
  margin-block-start: var(--space-2);
  padding-inline-start: 1.7rem;
}

.section-content ol li,
.section-content ul li {
  color: var(--gray20);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.section-content ul li {
  margin-block-end: var(--space-2);
}

::selection {
  background-color: var(--gray20);
}

.slider {
  margin-block-end: calc(var(--space) * 6);
}

.slider-container {
  display: inline-block;
  font-size: 0;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slider-slide .video {
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
}

.slider-bullet {
  display: inline-block;
  inline-size: 1.6rem;
  block-size: 1.6rem;
  margin-block-start: var(--space-2);
  border-radius: 50%;
  background-color: var(--white);
}

.slider-bullet:nth-of-type(2) {
  margin-inline: var(--space);
}

.form input {
  display: block;
  inline-size: 100%;
  margin-block-end: var(--space-3);
  padding-inline: var(--space-2);
  padding-block: 1.2rem;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.6rem;
  background-color: transparent;
  border-radius: .8rem;
}

.form ::-webkit-input-placeholder {
  color: var(--gray20);
}

.form input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: var(--actionColor);
}